html, body {
  text-align: center;
  background-color: lightgrey;
  font-family: 'Muli', sans-serif;
}

header {
  background-color: rgb(54, 124, 121);
  color: white;
  margin: 0;
  padding: 10px;
  border-bottom: 8px solid white;
  margin-bottom: 20px;
}

h1 {
  font-size: 40pt;
}

h3 {
  font-size: 42pt;
  margin-top: 0;
}

.inputForm {
  margin-top: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgba(88, 88, 88, 0.5);
  width: 80%;
  padding: 30px;
}

.employeeInfoDiv {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  float: left;
  justify-content: center;
  width: 60%;
  border: 2px solid gray;
  background-color: rgba(247, 247, 247, 0.57);
}

table {
  width: 100%;
  padding: 15px;
}

.monthlyCostDiv {
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
  display: block;
  float: left;
  padding: 0px 50px;
  border: 2px solid gray;
  max-height: 185px;
  background-color: rgba(247, 247, 247, 0.57);
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

th {
  border: 1px solid rgb(102, 102, 102);
  padding: 10px;
  background-color: rgb(54, 124, 121);
  color: white;
}

td {
  border: 0;
  padding: 10px;
  color: white;
  background-color: rgba(88, 88, 88, 0.5);
}

input {
  padding: 10px;
  font-size: 12pt;
}

#submitButton {
  margin-top: 20px;
  border: 0;
  padding: 15px 40px;
  background-color: rgb(54, 124, 121);
  color: white;
  font-size: 12pt;
}

.delete {
  border: 0;
  padding: 10px 20px;
  background-color: rgb(54, 124, 121);
  color: white;
  font-size: 10pt;
}

.redAlert {
  color: rgb(182, 43, 43);
}
